h1 {
    text-align: center;
}
.pics {
    background-color: aqua;
    padding: 50px 200px;
    margin: 10px;
}
picture img[data-src] {
    filter: blur(0em);
  }
  
  picture img {
    filter: blur(0.2em);
    transition: filter 0.5s;
  }