@media only screen and (min-width: 768px) {
  main {
    max-width: 1024px;
    margin: auto;
  }

  .ci img {
    border: 2px solid #297373;
    width: 500px;
    display: inline-block;
  }

  .five_day {
    display: none;
    text-align: center;
    font-size: 1em;
  }

  .forecast {
    display: none;
    padding: 10px;
    margin: 10px;
  }

  .box {
    padding: 20px;
    margin: 10px;
    display: none;
    border: 2px solid #297373;
  }
  .cards section div{
    float: left;
  }
  section:nth-child(even) div{
    float: right;
  }
  
}