* { margin: 0; padding: 0;}

body {
    display: block; 
    align-items: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: green;
}

.cards {
    width: 100%;
    display: grid;
}

.cards section {
    background-color: lightgreen;
    border: 2px solid darkgreen;
    margin: 10px;
    padding: 10px;
    flex-flow: column;
    align-items: center;
}

.cards section h2 {
    color: green;
    font-size: 28px;
    margin: 5px 0;
}

.cards section img {
    width: 75%;
    margin-bottom: 10px;
}
@media only screen and (min-width: 700px) {
    .cards {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 1000px) {
    .cards {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}