@media only screen and (min-width: 768px) {
    main {
      max-width: 1024px;
      margin: auto;
    } 
    .five_day {
      display: block;
      text-align: center;
      font-size: 1em;
  }
  .forecast {
      display: flex;
      padding: 10px;
      margin: 10px;
  }
  .box {
      padding: 20px;
      margin: 10px;
      display: block;
      border: 2px solid #297373;
  } 
  #map {
    border: 2px solid #297373;
    width: 500px;
    display: inline;
}
  }
  