 @import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Roboto:wght@400;900&display=swap');
body {
    background-color:#DDE2E3;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1em;
    margin: 0;
}
.navigation {
    margin: -10;
    font-size: 2em;
    display: flex;
    text-align: center;
    background-color: #297373;
    color: #FFA200;
    font-family: 'Luckiest Guy', cursive;
    
}
main {
    font-size: 2em;
    background-color: #DDE2E3;
}
#menu {
    display: flex;
    flex-direction: column;
}
.navigation li:first-child{
    display: block;
}
.navigation li {
    display: none;
    
}

.responsive li {
    display: block;
}
img {
    border-radius: 25px;
    background: #DDE2E3;
}
header {
    color: #FFA200;
    font-family: 'Luckiest Guy', cursive;
    font-size: 4em;
    text-align: center;
    background-color: #297373;
}
.navigation a:link {
    color: #FFA200;
}
.navigation a:visited {
    color: #FFA200;
}
.navigation a {
    text-decoration: none;
}
footer {
    text-align: center;
}
header a:link {
    color: #FFA200;
}
.weather_summary {
    display: block;
    text-align: center;
    font-size: 1em;
    border: 2px dotted #FFA200;
    
}
.five_day {
    display: block;
    text-align: center;
    font-size: 1em;
    border: 2px dotted #FFA200;
}
.article {
    display: block;
    text-align: center;
    font-size: 1em;
    border: 2px dotted #FFA200;
}
.contact {
    display: block;
    text-align: center;
    font-size: 1em;
    border: 2px dotted #FFA200;
}
h2{
    text-align: center;
}
h5{
    text-decoration: underline;
    font-family: 'Roboto';
}
h6 {
    font-style: italic;
    font-family: 'Roboto';
}