body {
    margin: 10% auto;
    max-width: 900px;
    background-color: white;
    font-family: 'Ubuntu', sans-serif;
    
}
#title {
    height: 50px;
   text-align: center;
   color: black;
   background-color: #7fb9c2 ;
   width: 100%;
}
table {
    border: 1px thin white;
    width: 40%;
    box-shadow:5px 5px 5px 5px #628ca6;
}
.acme {
    display: flex;
    border: 1px thin white;
    
}
.acme th{
    text-align: center;
    color: #DDE2E3;
    background-color: #628ca6  ;
}
.acme td {
    color: black;
    text-align: center;
    border: 1px thin white;
    background-color: #e7ffed ;
}
#footer {
    text-align: center;
    color: black;
    background-color: #7fb9c2 ;
    width: 100%;
}